<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="runtime.native.System" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable-net45+win80+wpa81" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable-net45+win80+wpa81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable-net45+win80+wpa81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable-net45+win80+wpa81" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="portable-net45+win80+wpa81" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable-net45+win80+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.224" targetFramework="portable-net45+win80+wpa81" />
</packages>